@charset 'UTF-8';

@import "compass/css3";
@import "settings";
@import "../../node_modules/foundation-sites/scss/foundation/components/_grid";
@import "../../node_modules/foundation-sites/scss/foundation/components/_accordion";
@import "../../node_modules/foundation-sites/scss/foundation/components/_alert-boxes";
@import "../../node_modules/foundation-sites/scss/foundation/components/_block-grid";
@import "../../node_modules/foundation-sites/scss/foundation/components/_breadcrumbs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_button-groups";
@import "../../node_modules/foundation-sites/scss/foundation/components/_buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_clearing";
@import "../../node_modules/foundation-sites/scss/foundation/components/_dropdown";
@import "../../node_modules/foundation-sites/scss/foundation/components/_dropdown-buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_flex-video";
@import "../../node_modules/foundation-sites/scss/foundation/components/_forms";
@import "../../node_modules/foundation-sites/scss/foundation/components/_icon-bar";
@import "../../node_modules/foundation-sites/scss/foundation/components/_inline-lists";
@import "../../node_modules/foundation-sites/scss/foundation/components/_joyride";
@import "../../node_modules/foundation-sites/scss/foundation/components/_keystrokes";
@import "../../node_modules/foundation-sites/scss/foundation/components/_labels";
@import "../../node_modules/foundation-sites/scss/foundation/components/_magellan";
@import "../../node_modules/foundation-sites/scss/foundation/components/_orbit";
@import "../../node_modules/foundation-sites/scss/foundation/components/_pagination";
@import "../../node_modules/foundation-sites/scss/foundation/components/_panels";
@import "../../node_modules/foundation-sites/scss/foundation/components/_pricing-tables";
@import "../../node_modules/foundation-sites/scss/foundation/components/_progress-bars";
@import "../../node_modules/foundation-sites/scss/foundation/components/_range-slider";
@import "../../node_modules/foundation-sites/scss/foundation/components/_reveal";
@import "../../node_modules/foundation-sites/scss/foundation/components/_side-nav";
@import "../../node_modules/foundation-sites/scss/foundation/components/_split-buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_sub-nav";
@import "../../node_modules/foundation-sites/scss/foundation/components/_switches";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tables";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tabs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_thumbs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tooltips";
@import "../../node_modules/foundation-sites/scss/foundation/components/_top-bar";
@import "../../node_modules/foundation-sites/scss/foundation/components/_type";
@import "../../node_modules/foundation-sites/scss/foundation/components/_offcanvas";
@import "../../node_modules/foundation-sites/scss/foundation/components/_visibility";

.columns.no-left-padding { padding-left: 0; }
.columns.no-right-padding { padding-right: 0; }

.columns.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.top-bar {
		background: transparent;
		// color: #00A664;
		overflow: visible;
}

// .top-bar-section ul li {
//     /* background: #333333; */
// }

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #fff;
	color: #00A664;
}

#logoWrapper {
	background-color: red;
	color: #ffffff;
	width: 70px;
	height: 65px;
	z-index: 10;
	position: absolute;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	margin-bottom: -37px;
	top: 0;
	transition: top 300ms;
}

.rentalPanel {
	background-color: yellow;

	form.custom .custom {
		display: inline-block;
		width: 16px;
		height: 16px;
		position: relative;
		top: -1px;
		vertical-align: middle;
		border: solid 1px #cccccc;
		background: white;

		&.checkbox.checked:before {
			content: "\00d7";
			color: #222222;
			position: absolute;
			top: -50%;
			left: 50%;
			margin-top: 4px;
			margin-left: -5px;
		}
	 }

	 #select-car-btn { width: 100%; }
}








